<!-- <!-- <input type="text" [disabled]="disabledBox" [value]="name"/>
<br><br>
<input type="text" [disabled]="disabledBox" value={{name}}/>
<br><br>
<button (click)="enableBox()">EnableBox</button>
<br><br>
<h1 *ngIf="show=='yes ';then ifBlock else elseBlock">
    Nizamuddin
</h1>
<ng-template #ifBlock>
    <h1>Jalaluddin Khan</h1>
</ng-template>
<ng-template #elseBlock>
    <h1>Talimunnisa Khan</h1>
</ng-template>
<ng-template [ngIf]="show=='red'">
    <H1>This Is Red Color</H1>
</ng-template>
<ng-template [ngIf]="show=='Blue'">
    <H1>This Is Blue Color</H1>
</ng-template>
<ng-template [ngIf]="show=='Yellow'">
    <H1>This Is Yellow Color</H1>
</ng-template>
<h1>Switch Case Example</h1>
<div [ngSwitch]="color" >
    <h2 style="color: red;" *ngSwitchCase="'red'">
        Red Color
    </h2>
    <h2 style="color:blue" *ngSwitchCase="'Blue'">
        Blue Color
    </h2>
    <h2 style="color: yellow;" *ngSwitchCase="'yellow'">
        Yellow Color
    </h2>
</div>
<h1 *ngFor="let item of data">
    {{item.name}}
    {{item.age}}

</h1>
<table border="1">
    <th>Name</th>
    <th>Age</th>
    <tr *ngFor="let item of data">
        <td>{{item.name}}</td>
        <td>{{item.age}}</td>
    </tr>
</table> -->
<!-- <form #simpleForm="ngForm" (ngSubmit)="getUserValue(simpleForm.value)">

    <input type="text" ngModel name="UserName" placeholder="Enter Username" ><br><br>
    <input type="password" ngModel name="PassWord" placeholder="Enter PassWord"><br><br>
    <input type="text" ngModel name="Captcha" placeholder="Enter Enter Captcha"><br><br>
    <button>Get User Detail</button>
</form> -->
<!-- <h1 style="color: aqua;">Header 1</h1>
<h1 [style.color]="'green'">
    Header 2
</h1>

<h1 [style.color]="color">Dynamic Style Nizamuddin</h1>
<h1 [style.color]="err?'red':'pink'">Conditional Style Nizamuddin</h1>
<button (click)="updateColor()">Update Color</button>

<p>
    <ngb-alert [dismissible]="false">
      <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </ngb-alert>
  </p>
  <p><ngb-progressbar type="success" [value]="25"></ngb-progressbar></p>
  <p><ngb-progressbar type="info" [value]="50"></ngb-progressbar></p>
  <p><ngb-progressbar type="warning" [value]="75"></ngb-progressbar></p>
  <p><ngb-progressbar type="danger" [value]="100"></ngb-progressbar></p>
  <p><ngb-progressbar type="primary" [value]="75"></ngb-progressbar></p>
  <p><ngb-progressbar type="secondary" [value]="50"></ngb-progressbar></p>
  <p><ngb-progressbar type="dark" [value]="25"></ngb-progressbar></p> -->
<!-- <button mat-stroked-button color="accent">Accent</button>
  <mat-slider min="1" max="100"></mat-slider> -->
<!-- <app-users [Hero]="int"></app-users>
<div *ngFor="let data of users">
    <app-child [hero]="data"></app-child>
</div> -->
<app-ctop></app-ctop>